 //header
 .hed-s-wrap {
     background-color: #e3e4e5;
 }
 
 .hed-x-wrap {
     background-color: #ffffff;
 }
 
 .header-s {
     height: 30px;
     width: 1200px;
     background-color: #e3e4e5;
     margin: 0 auto;
     //  overflow: hidden;
 }
 
 //fl
 .header-s .fl {
     font-size: 12px;
     float: left;
     height: 30px;
     line-height: 30px;
 }
 
 //  fr
 .header-s .fr {
     height: 30px;
     line-height: 30px;
     font-size: 12px;
     float: right;
     //  overflow: hidden;
     color: #999;
 }
 
 .header-s .fr li a {
     color: #999999;
 }
 
 .header-s .fr li {
     height: 30px;
     line-height: 30px;
     margin-right: 10px;
     padding: 0 2px;
     float: left;
     color: #999999;
 }
 
 .header-s .fr li .two {
     color: red;
 }
 
 .header-s .fr li .iconfont {
     display: inline-block;
     margin-top: -9px;
 }
 
 .header-s .fr .kong {
     width: 0.5px;
     height: 12px;
     padding: 0;
     margin-top: 9px;
     //  border: 0.2px solid #999;
     background-color: #999;
 }
 
 //  导航划过效果
 .header-s .wode {
     position: relative;
 }
 
 .header-s .wode:hover .a1 {
     display: block;
 }
 
 .fr .wode .a1 {
     width: 282px;
     height: 142px;
     position: absolute;
     z-index: 999;
     background-color: #ffffff;
     display: none;
     border: 1px solid #dddddd;
     border-top: none;
 }
 
 .fr .wode .a1 ul li {
     clear: left;
     //  float: left;
 }
 
 .fr .wode .a1 ul li:hover a {
     color: red;
 }
 
 .fr .wode:hover {
     background-color: white;
 }
 
 .fr .wode .a1 ul {
     float: left;
     margin-left: 30px;
 }
 
 //  a2
 .fr .kehu {
     position: relative;
 }
 
 .fr .kehu .a2 ul {
     margin: 0;
     padding: 0;
 }
 
 .kehu .a2 li a {
     padding-right: 20px;
 }
 
 .kehu .a2 li {
     margin: 0;
     padding: 0;
 }
 
 .kehu .a2 p {
     display: block;
 }
 
 .fr .kehu .a2 {
     width: 171px;
     height: 272px;
     position: absolute;
     right: 0px;
     background-color: #ffffff;
     display: none;
     z-index: 999;
     border: 1px solid #dddddd;
     border-top: none;
 }
 
 .header-s .kehu:hover .a2 {
     display: block;
 }
 
 .fr .kehu:hover {
     background-color: white;
 }
 
 .fr .kehu li:hover a {
     color: red;
 }
 
 //  a3
 .fr .dh {
     position: relative;
 }
 
 .fr .dh .a3 {
     width: 1240px;
     height: 187px;
     position: absolute;
     right: -100px;
     z-index: 99999;
     display: none;
     background-color: white;
     border: 1px solid #dddddd;
     border-top: none;
 }
 
 .fr .dh:hover .a3 {
     display: block;
 }
 
 .fr .dh:hover {
     background-color: white;
 }
 
 .fr .dh .a3 ul {
     display: flex;
     justify-content: space-between;
 }
 
 .fr .dh .a3 li {
     clear: left;
 }
 
 .fr .a3 li a:hover {
     color: red;
 }
 
 //  header-x
 .header-x .top {
     //  overflow: hidden;
     height: 93px;
     width: 1200px;
 }
 
 .header-x {
     width: 1200px;
     height: 126px;
     //  background-color: yellowgreen;
     margin: 0 auto;
     overflow: hidden;
 }
 
 //  lf
 .header-x .lf {
     width: 350px;
     height: 93px;
     //  background-color: yellow;
     float: left;
     overflow: hidden;
 }
 
 .header-x .logo {
     //  width: 213px;
     height: 54px;
     display: block;
     float: left;
     margin: 15px 22px;
 }
 
 .header-x .dw {
     float: left;
     margin: 30px 15px;
 }
 
 .header-x .dw .list {
     display: inline-block;
     border-bottom: 2px solid #c91523;
 }
 
 //  ct
 .header-x .ct {
     height: 93px;
     width: 450px;
     //  background-color: purple;
     float: left;
     overflow: hidden;
 }
 
 .header-x .ct .form {
     width: 450px;
     height: 38px;
     margin-top: 15px;
     overflow: hidden;
     background-color: orange;
 }
 
 .header-x .ct .ipt {
     width: 370px;
     height: 34px;
     border: 2px solid #ffa133;
     float: left;
 }
 
 .header-x .ct .ctul {
     height: 20px;
     line-height: 20px;
     overflow: hidden;
     font-size: 12px;
     margin-top: 5px;
 }
 
 .header-x .ct .ctul li {
     float: left;
     margin-right: 10px;
 }
 
 .header-x .ct .ctul a {
     color: #999;
     font-size: 12px #999 solid;
 }
 
 .header-x .ctul :hover a {
     color: red;
 }
 
 .header-x .ct button {
     height: 38px;
     width: 75px;
     float: left;
     background-color: #ffa133;
     border: 0;
     font-size: 16px;
     color: #ffffff;
 }
 
 //  rt
 .header-x .right {
     height: 96px;
     //  background-color: pink;
     float: right;
 }
 
 .header-x .right .crt {
     width: 140px;
     height: 36px;
     float: left;
     background-color: #f9f9f9;
     border: 1px solid #dfdfdf;
     text-align: center;
     line-height: 36px;
     margin-top: 15px;
     margin-right: 27px;
 }
 
 .header-x .right .ma {
     height: 36px;
     width: 120px;
     float: left;
     background-color: #f9f9f9;
     border: 1px solid #dfdfdf;
     text-align: center;
     line-height: 36px;
     margin-top: 15px;
     //  position: relative;
 }
 
 .header-x .right .ma:hover .maimg {
     display: block;
     top: 80px;
 }
 
 .header-x .right .maimg {
     position: absolute;
     width: 120px;
     height: 122px;
     display: none;
     position: absolute;
     z-index: 100;
 }
 
 .header-x .maimg img {
     width: 100%;
     height: 100%;
 }
 
 .header-x .nav {
     height: 33px;
     width: 1200px;
     font-size: 14px;
     //  background-color: black;
 }
 
 //  nav
 .header-x .nav .nav-lt {
     width: 175px;
     height: 33px;
     line-height: 33px;
     float: left;
     padding-left: 15px;
     background-color: #ffa133;
 }
 
 .header-x .nav-ct li {
     float: left;
     //  line-height: 33px;
     //  padding: 0 24px;
 }
 
 .header-x .nav-ct li a:hover {
     color: #ffa133;
 }
 
 .header-x .nav-ct li a {
     line-height: 33px;
     border-right: 1px solid #cccccc;
     padding: 0 24px;
 }
 
 .header-x .nav-ct {
     float: left;
 }
 
 .header-x .nav-rt {
     float: right;
     line-height: 33px;
 }
 
 // main
 .main {
     // height: 1000px;
     // background-color: pink;
 }
 
 .guild {
     height: 550px;
     position: relative;
     margin-bottom: 15px;
     // width: 1190px;
     //  background-color: red;
     //  overflow: hidden;
 }
 
 .guild .gd-left {
     width: 190px;
     height: 550px;
     background-color: #ffffff;
     float: left;
 }
 
 .guild .gd-left li {
     height: 61px;
     width: 175px;
     padding-left: 15px;
     overflow: hidden;
     box-sizing: content-box;
 }
 
 .guild .gd-left li .p1 {
     color: #333;
     font-size: 14px;
     margin-bottom: 2px;
     margin-top: 10px;
     position: relative;
     height: 20px;
     line-height: 18px;
     font-weight: 400;
     overflow: hidden;
 }
 
 .guild .gd-left li .p1 .iconfont {
     position: absolute;
     right: 0;
     top: 4px;
 }
 
 .guild .gd-left li .p2 {
     font-size: 12px;
 }
 
 .guild .gd-left .shang {
     width: 1002px;
     height: 536px;
     //  background-color: black;
     position: absolute;
     top: 0;
     left: 190px;
     z-index: 100;
     display: none;
 }
 
 .guild .gd-left li:hover .shang {
     display: block;
 }
 
 .guild .gd-left li:hover {
     border: 1px solid #dddddd;
     border-right: none;
     box-sizing: border-box;
 }
 
 .guild .gd-left .xia {
     width: 1001px;
     height: 423px;
     //  background-color: black;
     position: absolute;
     top: 127px;
     left: 190px;
     z-index: 100;
     display: none;
 }
 
 .guild .gd-left li:hover .xia {
     display: block;
 }
 
 //  banner
 .guild .gd-center {
     width: 780px;
     height: 550px;
     background-color: teal;
     float: left;
     margin: 0 15px;
 }
 
 .guild .gd-center img {
     width: 100%;
     height: 100%;
 }
 
 .guild .gd-center .banner {
     width: 780px;
     height: 400px;
 }
 
 .guild .gd-center .ct-x {
     width: 780px;
     height: 150px;
 }
 
 .guild .gd-center .ct-x img {
     width: 390px;
     height: 150px;
     float: left;
 }
 
 //  gd-right
 .guild .gd-right {
     width: 200px;
     height: 550px;
     background-color: palegoldenrod;
     float: left;
 }
 
 .guild .gd-right .juan {
     height: 270px;
     width: 200px;
     background-color: black;
 }
 
 .guild .gd-right .smbanner {
     height: 270px;
     width: 200px;
 }
 
 .guild .gd-right img {
     width: 100%;
     height: 100%;
 }
 
 // menu
 .menu1 {
     height: 585px;
     //  background-color: saddlebrown;
     overflow: hidden;
     margin-bottom: 25px;
 }
 
 .menu1 .title {
     height: 55px;
     width: 1200px;
     background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAHAQMAAAD3d2XqAAAABlBMVEUAAAC/v79T5hyIAAAAAXRSTlMAQObYZgAAAAtJREFUCNdjaECGABiOA4FOsWZrAAAAAElFTkSuQmCC) repeat-x 0 16px;
     text-align: center;
 }
 
 .menu1 .title h3 {
     width: 204px;
     height: 35px;
     margin: 0 auto;
     line-height: 35px;
     font-size: 26px;
     font-weight: 400;
     background-color: #eeeeee;
 }
 
 .menu1 .shp {
     height: 250px;
     width: 1200px;
     display: flex;
     justify-content: space-between;
     //  background-color: black;
 }
 
 .menu1 .shp .box {
     width: 388px;
     height: 250px;
     background-color: #ffffff;
     //  background-color: red;
     overflow: hidden;
 }
 
 .menu1 .shp .box .s {
     width: 388px;
     height: 188px;
     padding: 20px 0 0 22px;
     //  background-color: blue;
     box-sizing: border-box;
 }
 
 .menu1 .shp .s .rt {
     width: 150px;
     height: 150px;
     float: left;
     //  background-color: green;
     margin-left: 22px;
     font-size: 12px;
 }
 
 .menu1 .shp .s .p1 {
     margin-top: 53px;
 }
 
 .menu1 .shp .s .p2 {
     margin-top: 39px;
     width: 114px;
     height: 18px;
     font-size: 12px;
     background-color: #fff5ea;
     color: #ffa133;
     text-align: center;
 }
 
 .menu1 .shp .box .p3 {
     box-sizing: border-box;
     width: 233px;
     height: 150px;
     background-color: #f75f3c;
     float: left;
     font-size: 16px;
     color: #ffffff;
     padding: 20px 0 0 20px;
     //  line-height: 150px;
 }
 
 .menu1 .shp .box .p4 {
     box-sizing: border-box;
     width: 155px;
     height: 150px;
     background-color: #ffa133;
     float: left;
     font-size: 16px;
     color: #ffffff;
     padding: 20px 0 0 20px;
     //  line-height: 150px;
 }
 
 .menu1 .shp .s img {
     width: 150px;
     height: 150px;
     float: left;
 }
 
 //  menu1 x
 .menu1 .shpx {
     width: 1200px;
     height: 260px;
     margin-top: 20px;
     background-color: #fff;
 }
 
 .menu1 .shpx ul {
     float: left;
 }
 
 .menu1 .shpx li {
     float: left;
     width: 164px;
     height: 250px;
     padding: 0 14px 0 19px;
     border-right: 1px solid #e6e6e6;
     background-color: #ffffff;
     //  background-color: blue;
     position: relative;
 }
 
 .menu1 .shpx li .p1 {
     font: size 12px;
 }
 
 .menu1 .shpx li .p2 {
     font-size: 12px;
 }
 
 .menu1 .shpx li .p3 {
     font-size: 18px;
     color: #ff002f;
     padding-top: 20px;
 }
 
 .menu1 .shpx li img {
     width: 130px;
     height: 130px;
     margin: 17px auto;
     //  position: absolute;
 }
 
 //  .menu1 .shpx li img:hover {
 //      transform: translate(0, -5px);
 //      transition-duration: .5s;
 //  }
 //  .menu1 .shpx li .p1:hover {
 //      color: #ffa133;
 //  }
 .menu1 .shpx li:hover img {
     transform: translate(0, -7px);
     transition-duration: .5s;
 }
 
 .menu1 .shpx li:hover .p1 {
     color: #ffa133;
 }
 
 .menu1 .shpx .t1 {
     width: 200px;
     height: 259px;
     display: inline-block;
 }
 
 .menu1 .shpx .di {
     height: 10px;
     width: 990px;
     background: url(//static-1.64buyimg.com/mtd/pc/supermarket_v3/3.0.1/v3/images/chaoshi_discount_line.png) 0 0 no-repeat;
 }
 
 //  menu2
 .menu2 {
     height: 605px;
     //  background-color: rebeccapurple
 }
 
 .menu2 .title {
     height: 55px;
     width: 1200px;
     background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAHAQMAAAD3d2XqAAAABlBMVEUAAAC/v79T5hyIAAAAAXRSTlMAQObYZgAAAAtJREFUCNdjaECGABiOA4FOsWZrAAAAAElFTkSuQmCC) repeat-x 0 16px;
     text-align: center;
 }
 
 .menu2 .title h3 {
     width: 204px;
     height: 35px;
     margin: 0 auto;
     line-height: 35px;
     font-size: 26px;
     font-weight: 400;
     background-color: #eeeeee;
 }
 
 //  men2-t
 .menu2 .men2-t {
     width: 1200px;
     height: 270px;
     //  background-color: saddlebrown;
     margin-bottom: 10px;
 }
 
 .menu2 .men2-t .lt {
     width: 390px;
     height: 270px;
     display: block;
     float: left;
 }
 
 .menu2 .ment-t .lt img {
     width: 100%;
     height: 100%;
 }
 
 .menu2 .ment-t .lt:hover {
     transform: translate(0, -5px);
     transition-duration: 0.5s;
 }
 
 .ment2-t .lt:hover {
     transform: translate(0, -5px);
     transition-duration: 0.5s;
 }
 
 .men2-t .rt {
     display: block;
     width: 800px;
     height: 270px;
     float: left;
 }
 
 .men2-t .rt a {
     float: left;
     margin: 0 0 0 10px;
     width: 190px;
     height: 270px;
     //  background-color: red;
 }
 
 .men2-t .rt a:hover {
     transform: translate(0, -7px);
     transition-duration: 0.3s;
 }
 
 .men2-x {
     height: 270px;
     width: 1200px;
     //  background-color: yellow;
 }
 
 .men2-x .lt {
     width: 1000px;
     height: 270px;
     float: left;
     //  background-color: red;
 }
 
 .men2-x .lt a {
     width: 190px;
     height: 270px;
     display: block;
     float: left;
     margin: 0 10px 0 0;
 }
 
 .men2-x .lt a:hover {
     transform: translate(0, -7px);
     transition-duration: 0.3s;
 }
 
 .men2-x .rt {
     display: block;
     float: left;
     position: relative;
     z-index: 2;
     width: 190px;
     height: 270px;
     position: relative;
 }
 
 .men2-x .rt img {
     //  width: 100%;
     //  height: 100%;
     position: absolute;
     left: -18px;
 }
 
 .menu3 {
     height: 315px;
     //  background-color: darkblue;
     margin-top: 30px;
 }
 
 .menu3 .title {
     height: 55px;
     width: 1200px;
     background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAHAQMAAAD3d2XqAAAABlBMVEUAAAC/v79T5hyIAAAAAXRSTlMAQObYZgAAAAtJREFUCNdjaECGABiOA4FOsWZrAAAAAElFTkSuQmCC) repeat-x 0 16px;
     text-align: center;
 }
 
 .menu3 .title h3 {
     width: 204px;
     height: 35px;
     margin: 0 auto;
     line-height: 35px;
     font-size: 26px;
     font-weight: 400;
     background-color: #eeeeee;
 }
 
 //  menu4奶制品
 .menu4 {
     height: 543px;
     width: 1200px;
     //  background-color: #ffffff;
     margin-top: 40px;
 }
 
 .menu4 .title {
     height: 55px;
     width: 1200px;
     background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAHAQMAAAD3d2XqAAAABlBMVEUAAAC/v79T5hyIAAAAAXRSTlMAQObYZgAAAAtJREFUCNdjaECGABiOA4FOsWZrAAAAAElFTkSuQmCC) repeat-x 0 16px;
     text-align: center;
 }
 
 .menu4 .title h3 {
     width: 204px;
     height: 35px;
     margin: 0 auto;
     line-height: 35px;
     font-size: 26px;
     font-weight: 400;
     background-color: #eeeeee;
 }
 
 .menu4 .lt {
     width: 190px;
     height: 485px;
     float: left;
     position: relative;
 }
 
 .menu4 .lt img {
     width: 100%;
     height: 100%;
 }
 
 .menu4 .lt .caidan {
     width: 190px;
     height: 165px;
     position: absolute;
     top: 320px;
     //  background-color: green;
     padding: 20px 10px 12px;
     box-sizing: border-box;
     background: rgba(0, 0, 0, .2);
 }
 
 .menu4 .lt .caidan a {
     width: 75px;
     height: 26px;
     float: left;
     margin: 0 5px 8px;
     line-height: 24px;
     font-size: 12px;
     color: #fff;
     text-align: center;
     background: hsla(0, 0%, 95%, .2);
 }
 
 .menu4 .lt .caidan a {
     color: #fff;
 }
 
 .menu4 .rt div {
     width: 200px;
     height: 244px;
     box-sizing: border-box;
     padding: 10px 15px 0;
     //  background-color: red;
     float: left;
     position: relative;
     overflow: hidden;
     border-left: 1px solid #f2f2f2;
     border-bottom: 1px solid #f2f2f2;
     background-color: #ffffff;
 }
 
 .menu4 .rt div img {
     margin: 0 auto;
 }
 
 .menu4 .rt .pinming {
     width: 130px;
     height: 36px;
     font-size: 12px;
     color: #333;
     margin: 8px 0 7px;
 }
 
 .menu4 .rt .price {
     color: red;
     position: absolute;
     top: 205px;
 }
 
 .menu4 .rt div .btn {
     width: 199px;
     height: 50px;
     position: absolute;
     top: 244px;
     left: 0;
     background-color: #ffa133;
     line-height: 50px;
     font-size: 14px;
     text-align: center;
     color: #fff;
     //  display: none;
 }
 
 .footer {
     height: 537px;
     width: 1200px;
     background-color: red;
 }
 
 .ft-wrap {
     //  width: 100%;
     //  height: 100%;
     background-color: #eaeaea;
 }
 
 .footer img {
     width: 100%;
     height: 100%;
 }
 
 .menu4 .rt div:hover .btn {
     transform: translate(0, -50px);
     transition-duration: 0.3s;
     display: block;
 }
 
 .menu4 .rt div:hover .price {
     top: 161px;
 }
 
 .menu4 .rt div:hover .pinming {
     display: none;
 }
 
 .backtop {
     width: 100px;
     height: 100px;
     background-color: #67c4ba;
     position: fixed;
     bottom: 50px;
     left: 30px;
     text-align: center;
     line-height: 100px;
     font-size: 24px;
     color: #fff;
 }